.paginationContainer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.paginationContainerSmall {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.paginationBox {
  display: grid;
  place-items: center;
  background-color: var(--offWhite);
  border: var(--border);
  border-radius: var(--borderRadius);
  height: 30px;
  aspect-ratio: 1/1;
  color: black;
}

.paginationBox:active {
  filter: brightness(90%);
}
