.container {
  transform: translateY(36%);
  display: flex;
  overflow: scroll;
  padding-right: 0px;
}
.container::-webkit-scrollbar {
  display: none;
}
.iconContainer {
  margin-right: 20px;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  gap: 9px;
  align-items: center;
}

.iconContainer > p {
  color: black;
}
