.container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background-color: var(--offWhite);
  border-radius: var(--borderRadius);
  border: var(--border);
}

.text {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  color: black;
}

.text p:nth-child(2) {
  color: var(--darkBlue);
}
