.pageContainer > * {
  margin-bottom: 30px;
  background-color: white;
}

.buffer {
  height: 300px;
}
.heroContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 235px;
  background-image: radial-gradient(
    circle farthest-corner at 0% 0%,
    #008dff,
    #002d6b
  );
  padding: 30px 0px;
  padding-bottom: 0px;
}

.headerContainer {
  position: relative;
  padding: 0px 24px;
  margin-bottom: 30px;
}

.headerContainer > p {
  color: white;
}

.menu {
  position: absolute;
  top: 0;
  right: 24px;
  background-color: white;
}

.searchContainer {
  padding: 0px 24px;
}

.filter {
  background-color: white;
}

.categoryContainer {
  display: flex;
}

.areasHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.boxContainer > a > * {
  color: black;
  margin-bottom: 10px;
}

@media (min-width: 700px) {
  .menu {
    display: none;
  }
  .heroContainer {
    height: 425px;
  }
  .headerContainer > p {
    font-size: 35px;
    text-align: center;
    font-weight: 800;
    margin: 50px 0px;
  }

  .buffer {
    height: 440px;
  }

  .boxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

@media (min-width: 1000px) {
  .boxContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
